h3{
    font-size: 25px !important;
}

.btn-success:hover{
background-color: rgb(255, 0, 242);
}

canvas{
 animation-name : examine ;
    animation-duration : 4s ;
    animation-iteration-count: infinite;
}

@keyframes examine {
    from{box-shadow: 1px 1px 38px aquamarine;}
    to{box-shadow: 1px 1px 38px cyan;}
}